<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="    
           http://www.springframework.org/schema/beans    
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
           http://www.springframework.org/schema/aop    
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
           http://www.springframework.org/schema/context    
           http://www.springframework.org/schema/context/spring-context-3.2.xsd">  
    
    <!-- 自动扫描注解的bean -->  
    <context:component-scan base-package="com.hxk.service.impl" />
    
    <!-- 配置数据源 -->  
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <property name="url" value="jdbc:mysql://localhost:3306/dormitory" />  
        <property name="username" value="root" />  
        <property name="password" value="root" />  
    </bean>  
  	
    <!-- 自动扫描了所有的XxxxMapper.xml对应的mapper接口文件，这样就不用一个一个手动配置Mpper的映射了，只要Mapper接口类和Mapper映射文件对应起来就可以了。 -->  
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage"  value="com.hxk.mapper" />  
    </bean>  
   
    <!-- 配置Mybatis的文件 ，mapperLocations配置**Mapper.xml文件位置，configLocation配置mybatis-config文件位置-->  
    <!-- -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="mapperLocations" value="classpath*:/mapper/**/*.xml"/>    
        <property name="configLocation" value="classpath:MybatisConf.xml" />  
    </bean>
     
    
  		<!-- 
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="configLocation" value="classpath:MybatisConf.xml" />  
    </bean>  
  
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">    
       <property name="mapperInterface" value="com.hxk.mapper.UserMapper" />    
       <property name="sqlSessionFactory" ref="sqlSessionFactory" />    
    </bean>   
    -->
    
</beans>

