<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxk.mapper.AdminStuMapper">   
    
    <!--  查询所有学生记录  -->
    <select id="selectAllStudent" resultType="com.hxk.model.AdminStu">  
       select * from adminStu
    </select>
    
    
    <!--  插入单条学生记录      -->
    <insert id="insertStudent">
        insert into adminstu (id,year,name,address,number,phone) value (#{id},#{year},#{name},#{address},#{number},#{phone})
    </insert>
    
    <!-- 修改学生信息 -->
    <update id="updateStudent">
    	update adminstu set id = #{id}, year = #{year}, name = #{name}, address = #{address}, number = #{number},phone = #{phone} where id=#{id}
    </update>
    
    <!-- 删除学生信息 -->
    <delete id="delStudent">
    	delete from adminstu where id = #{id}
    </delete>
    
    <!-- 查询学生信息 
    <select id="selectStudentById" resultType="com.hxk.model.AdminStu">  
       select * from adminStu
    </select>
    -->
    
    
    <!-- 批量插入数据 
    <insert id="addTrainRecordBatch" useGeneratedKeys="true" parameterType="java.util.List">  
    <selectKey resultType="long" keyProperty="id" order="AFTER">  
        SELECT  
        LAST_INSERT_ID()  
    </selectKey>  
    insert into t_train_record (add_time,emp_id,activity_id,flag)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.addTime},#{item.empId},#{item.activityId},#{item.flag})  
    </foreach>  
	</insert> 
	-->
	
	
   
    
    
    
</mapper>
